{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Facebook Posts</h1>
            <p>These are the posts from your tracked Facebook pages</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if facebook_posts %}
                    {% for facebookpost in facebook_posts %}
                        <li class="article">
                            <h2><a href="#" target="_blank">{{ facebookpost.text }}</a></h2>
                            <span><strong>POSTED ON:</strong> {{ facebookpost.created_time | safe }} <strong>BY:</strong> {{ facebookpost.parent_page }}</span>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
