{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Tracked Words</h1>
            <p>Should Show Tracked words and all posts (articles, facebook posts and facebook comments) related to each keyword.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if tracked_words %}
                    {% for trackedword in tracked_words %}
                        <ul>
                            <li class="article" data-toggle="collapse" data-target="#{{ trackedword }}-related">
                                <h2><a href="#">{{ trackedword.word }}</a></h2>
                            </li>

                            <ul id="{{ trackedword }}-related" class="collapse">
                                <li class="article" data-toggle="collapse" data-target="#{{ trackedword }}-related-articles">
                                    <h2><a href="#">Articles</a></h2>
                                </li>
                                <ul id="{{ trackedword }}-related-articles" class="collapse">
                                    {% for article in trackedword.article_set.all %}
                                        <li class="article">
                                            <h2><a href="{{ article.url }}" target="_blank">{{ article }}</a></h2>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <li class="article" data-toggle="collapse" data-target="#{{ trackedword }}-related-facebookposts">
                                    <h2><a href="#">Facebook Posts</a></h2>
                                </li>
                                <ul id="{{ trackedword }}-related-facebookposts" class="collapse">
                                    {% for facebookpost in trackedword.facebookpost_set.all %}
                                        <li class="article">
                                            <h2><a href="#" target="_blank">{{ facebookpost.text }}</a></h2>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <li class="article" data-toggle="collapse" data-target="#{{ trackedword }}-related-facebookcomments">
                                    <h2><a href="#">Facebook Comments</a></h2>
                                </li>
                                <ul id="{{ trackedword }}-related-facebookcomments" class="collapse">
                                    {% for facebookcomment in trackedword.facebookcomment_set.all %}
                                        <li class="article">
                                            <h2><a href="#" target="_blank">{{ facebookcomment.message }}</a></h2>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <footer>
            <p>&copy; 2016 Ghana News Explorer</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
