{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Tracked Words</h1>
            <p>Should Show Tracked words and all posts (articles, facebook posts and facebook comments) related to each keyword.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if tracked_words %}
                    <ul>
                        {% for trackedword in tracked_words %}
                            <li class="item"><a href="/news/word?word={{ trackedword.0 }}">{{ trackedword.0 }}</a></li>
                            <span>{{ trackedword.1.articles_count }} articles, {{ trackedword.1.posts_count }} posts, {{ trackedword.1.comments_count }} comments</span>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>


        <footer>
            <p>&copy; 2016 Ghana News Explorer</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
