{% block cycle %}
    {% for row in rows %}
        {% for entry in row %}
            <li class="article">
                <h2>
                    <a href="{{ entry.url }}" target="_blank">
                        {{ entry.title }}
                    </a>
                </h2>
                <span>{{ entry.created_time | safe }}</span>
                <p>{{ entry.description | safe }}</p>
                <p>
                    <a href="{{ entry.url }}" target="_blank" class="btn btn-primary">
                        View Details
                    </a>
                </p>

            </li>
        {% endfor %}
    {% endfor %}

{% endblock %}