{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Article Index</h1>
            <p>Take a look at collected news stories and their sentiments.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

<div class="">
<table id="example" class="display nowrap table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Article</th>
                <th>Source</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Article</th>
                <th>Source</th>
                <th>Published Date</th>
            </tr>
        </tfoot>
        <tbody>
        {% for row in rows %}
                    {% for entry in row %}
            <tr>
                <td><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></td>
                <td>{{ entry.feed }}</td>
                <td>{{ entry.created_time }}</td>
            </tr>
        {% endfor %}
        {% endfor %}

        </tbody>
    </table>
</div>

<div style="margin-bottom:100px;"></div>
            </div>
        </div>



    </div> <!-- /container -->

{% endblock %}
