{% block cycle %}
    {% if articles_words %}
        <h2>Articles trendy words</h2>
        <ul>
        {% for word in articles_words %}
            <li class="item"><a href="/news/word?word={{word.0}}">{{word.0}}</a></li>
    
        {% endfor %}
        </ul>
    {% endif %}
    {% if posts_words %}
        <h2>Facebook posts trendy words</h2>
        <ul>
        {% for word in posts_words %}
            <li class="item"><a href="/news/word?word={{word.0}}">{{word.0}}</a></li>
    
        {% endfor %}
        </ul>
    {% endif %}
    {% if comments_words %}
        <h2>Facebook comments trendy words</h2>
        <ul>
        {% for word in comments_words %}
            <li class="item"><a href="/news/word?word={{word.0}}">{{word.0}}</a></li>
    
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}