{% block cycle %}
    
{% if articles_words %}
<div class="col-xs-3">
  <div class="card blue"> 
    <div class="card-heading">
      <h3>Article Trends</h3>
      <small>Top Trends from {{ date_from }} to {{ date_to }}</small>
    </div>
    <div class="list-group list-group-lg no-bg">
    {% for word in articles_words %}
      <a href="/news/word?date_from={{ date_from }}&date_to={{ date_to }}&kind=article&word={{ word.iword }}" class="list-group-item text-ellipsis">
        <span class="pull-right">
          <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
        </span>
        {% if word not in filtered_words %}
        {{ word.iword }} {{ word.article_count }}
      {% endif %}
      </a>
    {% endfor %}

    {% for post in filtered_words %}
{{ post.filtered_word }}
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if posts_words %}
<div class="col-xs-3">
  <div class="card blue">
    <div class="card-heading">
      <h3>FB Post Trends</h3>
      <small>Top Trends from {{ date_from }} to {{ date_to }}</small>
    </div>
    <div class="list-group list-group-lg no-bg">
    {% for word in posts_words %}
      <a href="/news/word?date_from={{ date_from }}&date_to={{ date_to }}&kind=post&word={{ word.iword }}" class="list-group-item text-ellipsis">
        <span class="pull-right">
          <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
        </span>
        {{ word.iword }} {{ word.facebookpost_count }}
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if comments_words %}
<div class="col-xs-3">
  <div class="card blue">
    <div class="card-heading">
      <h3>FB Comment Trends</h3>
      <small>Top Trends from {{ date_from }} to {{ date_to }}</small>
    </div>
    <div class="list-group list-group-lg no-bg">
    {% for word in comments_words %}
      <a href="/news/word?date_from={{ date_from }}&date_to={{ date_to }}&kind=comment&word={{ word.iword }}" class="list-group-item text-ellipsis">
        <span class="pull-right">
          <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
        </span>
        {{ word.iword }} {{ word.facebookcomment_count }}
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}


{% if comments_words %}
<div class="col-xs-3">
  <div class="card blue">
    <div class="card-heading">
      <h3>Twitter Trends</h3>
      <small>Top Trends from {{ date_from }} to {{ date_to }}</small>
    </div>
    <div class="list-group list-group-lg no-bg">
    {% for word in comments_words %}
      <a href="/news/word?date_from={{ date_from }}&date_to={{ date_to }}&kind=comment&word={{ word.iword }}" class="list-group-item text-ellipsis">
        <span class="pull-right">
          <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
        </span>
        {{ word.iword }} {{ word.facebookcomment_count }}
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}


{% endblock %}