{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Trending Topics/Keywords</h1>
            <p>Select a time period to see the most mentioned keywords/topics for that period.</p>
        </div>
    </div>

    <div class="container"> 
        <div class="row">
                <div class="period" data-name="nltk">
                    <a href="#" class="btn btn-default date" data-delta="1">Today</a>
                    <a href="#" class="btn btn-default date" data-delta="7">7 days</a>
                    <a href="#" class="btn btn-default date" data-delta="30">30 days</a>
                    <a href="#" id="daterange" class="btn btn-default">Pick range</a>
                </div>
                <div class="cycle">
                    {% include "news/nltk_cycle.html" %}
                </div>
        </div>
    </div> <!-- /container -->

    <style>
        .item {
            display: inline-block;
            border: 1px solid #eee;
            border-radius: 20px;
            padding: 10px 15px;
        }
    </style>
{% endblock %}
