{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Ghana News Explorer</h1>
            <p>Aggregating & Analyzing Ghana's news from top media houses.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>All for word '{{ word }}'</h2>
                <div class="cycle">
                    {% if items %}
                        <h3>{{ kind_verbose }}</h3>
                        {% for item in items %}
                            {% if kind == 'article' %}
                                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% elif kind == 'post' %}
                                <li>{{ item.text }}<span>{{ item.created_time }}</span></li>
                            {% elif kind == 'comment' %}
                                <li>{{ item.message }}<span>{{ item.created_time }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h3>Articles</h3>
                        {% for article in articles %}
                            <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                        {% endfor %}
                        <h3>Facebook posts</h3>
                        {% for post in posts %}
                            <li>{{ post.text }}</li>
                        {% endfor %}
                        <h3>Facebook comments</h3>
                        {% for comment in comments %}
                            <li>{{ comment.message }}</li>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2015 Django News Aggregator</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
