{% extends 'news/base.html' %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Aggregated posts for trending word</h1> 
            <p>Here are the posts related to the selected trending word.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All for word '{{ word }}'</h2>
                {% if kind == 'comment' %}<h4><strong>Tracked in Facebook Comments</strong></h4> <br>{% endif %}
                <div class="cycle">
                    {% if items %}
                        <!-- <h3>{{ kind_verbose }}</h3> -->
                        {% for item in items %}
                            {% if kind == 'post' %}
                                <li>{{ item.text }}<span>{{ item.created_time }}</span></li>
                            {% elif kind == 'comment' %}
                                <li>{{ item.message }}<span> <strong>POSTED ON: </strong>{{ item.created_time }}</span></li><br>
                            {% endif %}

                        {% endfor %}

{% if kind == 'article' %}
<div class="">
<table id="example" class="display nowrap table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Article</th>
                <th>Source</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Article</th>
                <th>Source</th>
                <th>Published Date</th>
            </tr>
        </tfoot>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></td>
                <td>{{ item.feed }}</td>
                <td>{{ item.created_time }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

        {% endif %}


<div style="margin-bottom:100px;"></div>
                          

                    {% else %}
                        <h3>Articles</h3>
                        {% for article in articles %}
                            <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
                        {% endfor %}
                        <h3>Facebook posts</h3>
                        {% for post in posts %}
                            <li>{{ post.text }}</li>
                        {% endfor %}
                        <h3>Facebook comments</h3>
                        {% for comment in comments %}
                            <li>{{ comment.message }}</li>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

   </div> <!-- /container -->


{% endblock %}
