body{
    background: #e9e9e9 !important;
}

.navbar-inverse{
    background: #fff !important;
    color: #fff !important;
    border-bottom: none !important;
}

.navbar-inverse .nav a{
    color: #673AB7 !important;
    text-transform: uppercase !important;
    font-size: 11px;
    font-weight: bold;
    border-left: 1px solid #f0f0f0;
}

.navbar-inverse .nav .fa{
    font-size:12px !important;
}

.navbar-brand{
    padding-top: 10px !important;
}
.card-heading h3{
    background-color: #f7f7f7 !important;
    padding: 10px 20px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

thead, tfoot{
    background: #fff !important;
    width: 100% !important;
    overflow: hidden !important;
}

.jumbotron{
    background: #9AA0D1 !important;
    color: #fff !important;
    padding: 100px 0 60px !important;
}
.period .btn{
    border: 1px solid #666;
    background-color: #e0e0e0;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
    background-image: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
    background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
    background-image: linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e0e0e0');
}
.date{
    background: #fff;
    color: #000 !important;
}
.jumbotron h1{
    font-size: 36px !important;
}
.article {
    list-style: none;
}
.article h2 {
    font-size: 16px;
}
.article img, .article p, .article div {
    display: none;
}
footer{
    background: #6B74AF;
    color: #fff !important;
    width: 100% !important;
    position: fixed !important;
    display: block !important;
    overflow: hidden !important;
    bottom:0 !important;
    padding: 15px 0 0;
}

footer .container{
    display: block;
    overflow: hidden;
}

.social{
width:50px !important;
height: 50px !important;
background: #f60 !important;
}